@page "/"
@rendermode InteractiveServer

<script src="js/site.js"></script>

<PageTitle>Chat with OTIS!</PageTitle>

<div class="h-screen w-screen bg-neutral-50">
	<div class="absolute mx-2 my-4 flex items-center gap-4">
		<img src="images/Otis.png" class="w-12" alt="Otis Logo" />
		<h1 class="hidden text-3xl sm:block">Otis</h1>
	</div>

	<div class="h-screen lg:left-1/2 lg:w-1/2 lg:translate-x-1/2">
        <ChatBot />
	</div>
</div>