@using System.Text.Json
@rendermode InteractiveServer
@inject HttpClient Http


<div class="grid h-full grid-rows-[1fr_auto] gap-4 px-5 py-10 sm:px-10">
	@if (messageHistory.Count <= 0) {
        <div class="flex flex-col items-center justify-center gap-2">
			<h2 class="text-center text-5xl font-bold sm:text-6xl">Chat to Otis</h2>
			<h3 class="text-center text-2xl sm:text-3xl">Get help with your mental health!</h3>
		</div>
    } else
    {
        <div class="flex flex-col gap-2 overflow-x-hidden overflow-y-auto" bind:this={element}>
        @{index = 0;}
			@foreach (var message in messageHistory) {
				
                    <div class="@($"relative w-fit max-w-3/4 rounded-md px-4 py-2 wrap-anywhere {(index % 2 == 1 ? "rounded-bl-none bg-neutral-600 text-white after:bg-neutral-600 after:left-0 after:-translate-x-1/2" : "self-end rounded-br-none bg-neutral-200 after:bg-neutral-200 after:translate-x-1/2")} after:absolute after:right-0 after:bottom-0 after:block after:translate-y-1/2 after:aspect-square after:w-4 after:rotate-45")">
                        @((MarkupString)message)
                    </div>
                
                index++;
            }
			@if (isSending) {
                <span
					class=@("relative flex w-fit max-w-3/4 gap-2 rounded-md bg-neutral-600 px-4 py-2 after:absolute after:right-0 after:bottom-0 after:left-0 after:block after:aspect-square after:w-4 after:-translate-x-1/2 after:translate-y-1/2 after:rotate-45 after:bg-neutral-600")
				>
					<div
						class="aspect-square w-3 animate-[bounce_1s_infinite_0ms] rounded-full bg-neutral-200"
					></div>
					<div
						class="aspect-square w-3 animate-[bounce_1s_infinite_50ms] rounded-full bg-neutral-200"
					></div>
					<div
						class="aspect-square w-3 animate-[bounce_1s_infinite_100ms] rounded-full bg-neutral-200"
					></div>
				</span>
            }
		</div>
    }

	<form
        @onsubmit="SendData"
        class="relative left-1/2 flex h-auto max-h-36 min-h-12 -translate-x-1/2 items-end justify-between gap-4 rounded-2xl bg-neutral-800 p-2 shadow-2xl"
    >
        <textarea
            @bind="message"
            @bind:event="oninput"
            @ref="inputBox"
            @onkeydown="Input"
            class="h-12 max-h-full min-h-12 w-11/12 resize-none border-none bg-transparent wrap-anywhere text-white ring-0 outline-0 placeholder:text-neutral-300"
            placeholder="Ask for help with your mental health" />

        <button
            type="submit"
            disabled="@(isSending || string.IsNullOrWhiteSpace(message))"
            class="h-10 cursor-pointer rounded-full bg-white p-2 disabled:cursor-not-allowed disabled:bg-neutral-500"
        >
            <img src="images/up-arrow.svg" alt="Arrow Up" class="z-10 aspect-square h-full" />
        </button>
    </form>
</div>


@code {
    public string? message { get; set; }
    public List<String> messageHistory = new List<String>();
    public ElementReference element;
    public ElementReference inputBox;
    public bool isSending = false;
    public int index;

    public string? resultClass;

    public async Task SendData()
    {
        Console.WriteLine("Submit Recieved");
        Console.WriteLine(message);
        Console.WriteLine("message above");
        if (message!.Trim(' ') == string.Empty) {return;}
        if (!isSending || message.Trim(' ') != string.Empty) 
        {
            
            isSending = true;

            string m = message;

            messageHistory.Add(message);
            message = string.Empty;

            await ResizeInput();
            var payload = new
            {
                Message = m,
                Messages = messageHistory.Take(messageHistory.Count - 1)
            };

            var response = await Http.PostAsJsonAsync("http://localhost:5156/message", payload);
            var responseText = await response.Content.ReadAsStringAsync();

            if (responseText == null) {
                return;
            }

            messageHistory = JsonSerializer.Deserialize<List<string>>(responseText)!;

            isSending = false;
        }
    }
    public async Task Input(KeyboardEventArgs e)
    {
        if ((e.Code == "Enter" || e.Code == "NumpadEnter") && !e.ShiftKey)
        {
            await SendData();
        }
    }

    [Inject]
    private IJSRuntime? JS { get; set; }

    public async Task ResizeInput()
    {
        await JS!.InvokeVoidAsync("resizeInput", inputBox);
    }
}